/* CSS declarations go here */
body {
  background-color: #555555;
}

.hidden_div{
	display:none;
}

.navbar-text {
  padding-right: 15px;
}

.panel {
    background-color: #cccccc;
    padding: 10px;
    box-shadow: 2px 2px 2px #000000;
    border-radius: 0px;
}

.website-footer {
    padding-left: 0px;
}

.website-footer li {
    display: inline;
    padding: 5px;
    list-style-type: none;
    text-align: center;
}

.small {
  font-size: 80%;
}

.details-list {
  padding-left: 110px;
}

.details-list li {
  display: inline;
  padding: 5px;
  list-style-type: none;
  text-align: center;
}

.details-button {
  margin-left: 110px;
}

.btn-vote {
  color: #333333;
  background-color: #ffffff;
}

.upvoted {
  background-color: #ff4500;
}

.downvoted {
  background-color: #9494ff;
}

.modal {
  background: rgba(000, 000, 000, 0.8);
  min-height:1000000px;
}

nav {
  box-shadow: 3px 0px 2px #000000;
  border-radius: 0px;
}

.nav {
  background-color: #333333;
  box-shadow: 2px 2px 3px black;
  padding-right: 10px;
  padding-left: 10px;
}

.votebox {
  margin-top: 20px;
}

.comments-box {
  margin: auto;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: inherit;
}