/* CSS declarations go here */
body {
  background-color: #aaaaaa;
}

.hidden_div{
	display:none;
}

.navbar-text {
  padding-right: 15px;
}

.panel {
    background-color: #cccccc;
    padding: 10px;
}

.website-footer {
    padding-left: 0px;
}

.website-footer li {
    display: inline;
    padding: 5px;
    list-style-type: none;
    text-align: center;
}

.small {
  font-size: 80%;
}

.details-list {
  padding-left: 110px;
}

.details-list li {
  display: inline;
  padding: 5px;
  list-style-type: none;
  text-align: center;
}

.votebox {
  padding: 10px;
}

.comment-panel {
  margin: 30px;
}

.details-button {
  margin-left: 110px;
}

.btn-vote {
  color: #333333;
  background-color: #ffffff;
}

.upvoted {
  background-color: #ff4500;
}

.downvoted {
  background-color: #9494ff;
}