<template name="website_details"> <!-- details and comments about a particular site -->
  <div class="container">
    <div class="row panel" id="panel{{_id}}">
      <br>
      <br>
      {{> website_card}}
      <br>
      
      <ul class="details-list">Tags: 
        {{#each tags}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
      
      <ul class="details-list">
        <li>
          {{#if submittedByThisUser}}
            <a href="#" class="js-delete btn btn-sm btn-danger">Delete</a>
          {{/if}}
        </li>
        <li class="small">Submitted by: <strong>{{getUser}}</strong> Created: <strong>{{createdOn}}</strong></li>
      </ul> 
    </div>
    
    <div class="row panel comment-panel"> <!-- Comments -->
        <div class="col-xs-8 col-xs-offset-2">
          <div class="comment-section">
            {{> commentsBox id=_id}}
          </div>
        </div>
      </div>
      
  </div>
</template>